.pics {
  display: flex;
  gap: 25px;
  
}

.margin-port {
   margin: 30px 20px 30px 0; 
}

.size {
 width: 100%;
 margin-top: 2rem;

}

.pic-2{
  color: black;
  font-size: 700;
  font-weight: 700;


}

.pic-3{
  color: black;
  font-weight: 700;
  font-size: 25px;
  text-decoration: none;
}

@media (max-width: 784px){
  .pics{
    flex-direction: column;
  }
  .margin-port {
    margin: 0;
  }
}
